/*
Copyright 2019 New Vector Ltd.
Copyright 2020 The Matrix.org Foundation C.I.C.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.mx_VerificationShowSas_decimalSas {
    text-align: center;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
}

.mx_VerificationShowSas_decimalSas span {
    margin-left: 5px;
    margin-right: 5px;
}

.mx_VerificationShowSas_emojiSas {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px 0;
}

.mx_VerificationShowSas_emojiSas_block {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
    width: 52px;
}

.mx_Dialog .mx_VerificationShowSas_emojiSas_block,
.mx_AuthPage_modal .mx_VerificationShowSas_emojiSas_block {
    width: 60px;
}

.mx_VerificationShowSas_emojiSas_emoji {
    font-size: $font-32px;
}

.mx_VerificationShowSas_emojiSas_label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: $font-12px;
}

.mx_VerificationShowSas_emojiSas_break {
    flex-basis: 100%;
}

.mx_VerificationShowSas {
    .mx_Dialog_buttons {
        // this is more specific than the DialogButtons css so gets preference
        button.mx_VerificationShowSas_matchButton {
            color: $accent-fg-color;
            background-color: $accent-bg-color;
            border: none;
        }

        // this is more specific than the DialogButtons css so gets preference
        button.mx_VerificationShowSas_noMatchButton {
            color: $notice-primary-color;
            background-color: $notice-primary-bg-color;
            border: none;
        }
    }
}
