.mx_EventTile {
    max-width: 100%;
    position: relative;
}
.mx_EventTile_message, .mx_EventTile_sticker {
    margin-bottom: 3px;
    display: flex;
    .mx_EventTile_line {
        margin-left: 42px;
        font-size: 15px;
        padding: 9px 12px 9px 14px;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        position: relative;
        min-width: 100px;
        max-width: 430px;
    }
    .mx_SenderProfile_wrapper {
        margin-bottom: 3px;
    }
    .mx_SenderProfile {
        font-size: 13px;
        display: inline;
        font-weight: 600;
        cursor: pointer;
    }
    .mx_MessageTimestamp {
        font-size: 13px;
        user-select: none;
    }
    .mx_EventTile_avatar {
        position: absolute;
        bottom: 0;
        left: 0;
        top: auto;
        cursor: pointer;
        user-select: none;
    }

    blockquote.mx_ReplyThread {
        margin-top: 6px;
        .mx_DateSeparator {
            display: none;
        }
        .mx_EventTile_message {
            flex-direction: column;
        }
    }
}
.mx_EventTile_continuation {
    .mx_SenderProfile_wrapper {
        margin-bottom: 0;
    }
}
blockquote.mx_ReplyThread {
    border-left: 2px solid $accent-color;
    padding-left: 7px;
    margin: 0 0 7px 0;
    .nv_DateSeparator {
        display: none;
    }
    .mx_SenderProfile_name {
        color: $accent-color;
    }
    .mx_EventTile_reply {
        padding: 0;
    }
}

.mx_EventTile_body.markdown-body {
    font-size: 15px;
    color: $primary-fg-color;
    line-height: 1.2;
    blockquote {
        padding: 7px 0 7px 7px;
        display: flex;
        margin: 0;
        color: $primary-fg-color;
        border-left: 2px solid $accent-color;
        vertical-align: middle;
    }
}

.mx_EventTile_messageOut {
    blockquote.mx_ReplyThread, .markdown-body blockquote {
        border-color: #5dc452;
        .mx_SenderProfile_name {
            color: #3A9041;
        }
    }
}

.mx_EventTile_sticker .mx_EventTile_line {
    min-width: 150px;
}

.mx_EventTile_message .mx_EventTile_content::after {
    content: '';
    width: 65px;
    height: 1px;
    display: inline-block;
}
.mx_EventTile_message.mx_EventTile_12hr .mx_EventTile_content::after {
    width: 80px;
}
.mx_EventTile_messageEdited .mx_EventTile_content::after {
    width: 105px;
}
.mx_EventTile_messageEdited.mx_EventTile_12hr .mx_EventTile_content::after {
    width: 105px;
}

.mx_EventTile_message.mx_EventTile_messageIn {
    .mx_EventTile_line {
        background: #ffffff;
        box-shadow: 0 2px 1px 0 rgba(152, 162, 170, .3);
    }
    .mx_MessageTimestamp {
        color: #98a2aa;
    }
}

.mx_EventTile_message.mx_EventTile_messageOut {
    .mx_EventTile_line {
        background: #effdde;
        box-shadow: 0 2px 1px 0 rgba(93, 196, 82, 0.3);
    }
    .mx_MessageTimestamp {
        color: #5dc452;
    }
}

.mx_EventTile_message.mx_EventTile_droplet {
    margin-bottom: 8px;
    .mx_EventTile_line::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -10px;
        width: 16px;
        height: 10px;
        clip-path: url('#left-droplet');
        background-color: inherit;
        z-index: 2;
    }
    .mx_EventTile_line::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        bottom: 0;
        left: -7px;
        box-shadow: 0 2px 1px 0 rgba(152, 162, 170, .3);
    }
}

.mx_EventTile_message.mx_EventTile_droplet.mx_EventTile_messageOut {
    .mx_EventTile_line::after {
        box-shadow: 0 1px 1px 1px rgba(93, 196, 82, 0.3);
    }
}

.mx_EventTile_statusGroup {
    position: absolute;
    right: 12px;
    bottom: 6px;
    display: flex;
    .mx_EventTile_readAvatars {
        z-index: 2;
        position: relative;
        display: flex;
        align-items: center;
        &:not(:empty) {
            margin-left: 6px;
        }
        .mx_BaseAvatar {
            height: 14px;
            width: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 0 !important;
            right: 0 !important;
        }
        & > span:not(:last-child) {
            margin-right: 3px;
        }
    }
}

.mx_EventTile_messageOut .mx_EventTile_readAvatarCounter {
    color: #5dc452;
}

.mx_EventTile_messageIn .mx_EventTile_readAvatarCounter {
    color: #98a2aa;
}

.mx_EventTile_readAvatarCounter {
    cursor: pointer;
    color: $event-timestamp-color;
    font-size: 11px;
    position: relative;
    &:hover .mx_EventTile_readAvatarTooltip {
        display: flex;
    }
}

.mx_EventTile_readAvatarTooltip {
    display: none;
    position: absolute;
    bottom: -22px;
    padding: 12px 12px 6px 6px;
    right: -15px;
    & > span:not(:last-child) {
        margin-right: 3px;
    }
}

.mx_EventTile_sending .mx_EventTile_statusGroup,
.mx_EventTile_notSent .mx_EventTile_statusGroup {
    .mx_EventTile_readAvatars {
        display: none;
    }
    &::after {
        margin-left: 5px;
        color: #5dc452;
        content: url('$(res)/themes/telegram/img/dialogs_sending.svg');
    }
}

.mx_EventTile_selected {
    &.mx_EventTile_messageIn .mx_EventTile_line {

    }
    &.mx_EventTile_messageOut .mx_EventTile_line {}
}

.mx_EventTile_message:hover {
    .mx_MessageActionBar {
        visibility: visible;
        right: -85px;

    }
}

.mx_EventTile_edited {
    font-size: 13px;
    margin-right: 5px;
}

.mx_EventTile_message.mx_EventTile_messageOut .mx_EventTile_edited {
    color: #5dc452;
}

.mx_EventTile_message.mx_EventTile_messageIn .mx_EventTile_edited {
    color: #98a2aa;
}

.mx_EventTile .mx_EditMessageComposer .mx_EditMessageComposer_buttons {
    position: static;
    background: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.mx_EventTile_image, .mx_EventTile_video {
    .mx_SenderProfile_name {
        margin: 9px 0 6px 14px;
        display: block;
    }
    .mx_EventTile_line {
        min-width: 140px;
        max-height: 700px;
        padding: 0;
        border-radius: 9px;
        overflow: hidden;
        &::before, &::after {
            display: none;
        }
    }
}

.mx_EventTile_line > .mx_MVideoBody,
.mx_MImageBody_thumbnail_container {
    line-height: 0;
}

.mx_EventTile_image .mx_MImageBody_thumbnail_container {
    & > div:first-child {
        display: none;
    }
    .mx_MImageBody_thumbnail {
        position: static;
        object-fit: cover;
    }
}

.mx_EventTile_image.mx_EventTile_continuation, .mx_EventTile_video.mx_EventTile_continuation, .mx_EventTile_image.mx_EventTile_messageOut {
    .mx_EventTile_line {
        background: none;
        box-shadow: none;
    }
}

.mx_EventTile_sticker, .mx_EventTile_image, .mx_EventTile_video {
    .mx_EventTile_statusGroup {
        opacity: 0;
        background: rgba(90, 105, 115, 0.50);
        padding: 4px 7px;
        border-radius: 5px;
    }
    .mx_MessageTimestamp {
        color: #ffffff !important;
    }
    &:hover .mx_EventTile_statusGroup {
        opacity: 1;
    }
}

.mx_EventTile_e2eIcon {
    position: absolute;
    top: 7px;
    right: 11px;
    width: 15px;
    height: 15px;
    display: block;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: contain;
}

.mx_EventTile_e2eIcon_undecryptable, .mx_EventTile_e2eIcon_unverified {
    background-image: url('$(res)/img/e2e/warning.svg');
    opacity: 1;
}

.mx_EventTile_e2eIcon_unknown {
    background-image: url('$(res)/img/e2e/warning.svg');
    opacity: 1;
}

.mx_EventTile_e2eIcon_unencrypted {
    background-image: url('$(res)/img/e2e/warning.svg');
    opacity: 1;
}

.mx_EventTile_e2eIcon_hidden {
    display: none;
}

.mx_EventTile_keyRequestInfo {
    margin-top: 3px;
    font-size: 13px;
    color: #acacac;
    .mx_TooltipButton {
        font-size: 10px;
        border: 1px solid #acacac;
        color: #acacac;
    }
}

.mx_MNoticeBody.mx_EventTile_content {
    font-size: 13px;
    color: #acacac;
    opacity: 1;
}

.mx_EventTile .mx_ReactionsRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;
    &, & .mx_ReactionsRowButton, & .mx_ReactionsRow_showAll {
        margin: 1px 3px;
    }
}
