.mx_MessageComposer {
    border-top: 1px solid $panel-divider-color;
    position: relative;
}
.mx_MessageComposer_wrapper {
    border-top: none;
}
.mx_MessageComposer_e2eIcon.mx_E2EIcon {
    left:5px;
}
