.mx_ReplyPreview {
    box-sizing: border-box;
    position: relative;
    height: 49px;
    padding-left: 49px;
    padding-right: 59px;
    width: 100%;
    overflow: hidden;
    background: $primary-bg-color;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    &::before {
        content: url("$(res)/themes/telegram/img/icon-reply.svg");
        position: absolute;
        left: 12px;
        top: 15px;
    }
}

.mx_ReplyPreview_wrapper {
    height: 49px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .mx_SenderProfile {
        margin-bottom: 3px;
        &_name {
            font-size: 13px;
            color: $accent-color;
        }
    }
}

.mx_ReplyPreview_imagePreview {
    height: 36px;
    margin-right: 7px;
    overflow: hidden;
    border-radius: 2px;
    & > img {
        object-fit: cover;
    }
}
.mx_ReplyPreview_content {
    width: 100%;
}

.mx_ReplyPreview_contentText {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}
//.mx_ReplyPreview_section {
//    border-bottom: 1px solid $primary-hairline-color;
//}

//.mx_ReplyPreview_header {
//    margin: 12px;
//    color: $primary-fg-color;
//    font-weight: 400;
//    opacity: 0.4;
//}

//.mx_ReplyPreview_title {
//    float: left;
//}

.mx_ReplyPreview_cancel {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
    z-index: 2;
}

//.mx_ReplyPreview_clear {
//    clear: both;
//}
